.text-container {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;

  &:nth-child(even) {
    background-color: grey;
  }

  &:nth-child(odd) {
    background-color: white;
  }

  &__header {
    font-weight: bold;
    font-size: larger;
  }

  &__inputbox {
    border: 1px solid rgb(199, 191, 191);
    width: 246px;
    height: 23px;
  }

  &__button {
    padding: 7px 11px 0px 5px;

    &__add {
      border-radius: 20%;
      background-color: rgb(68, 235, 68);
      color: black;
      border: none;
      margin-right: 9px;
      font-size: 19px;
    }
  }

  &__delete {
    border-radius: 20%;
    background-color: rgb(233, 68, 68);
    color: black;
    border: none;
    margin-right: 9px;
    font-size: 19px;
  }
}