.text-container {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;

  &:nth-child(even) {
    background-color: grey;
  }

  &:nth-child(odd) {
    background-color: white;
  }

  // &_even {
  //   background-color: white;

  // }

  &_header {
    font-weight: bold;
    font-size: larger;
  }

  &_add {
    border-radius: 20%;
    border: none;
    margin-right: 5px;
  }

  &_delete {
    border-radius: 20%;
    border: none;
  }
}