.container {
    height: 500px;
    width: 450px;
}

// .legend {
//     background-color: rgb(237, 230, 230);
//     height: 25px;
//     text-align: center;
//     padding: 5px 0px 2px;
//     width: 337px;
//     border-radius: 10px;
// }

// .legend-label {
//     font-size: 14px;
// }

.dount {
    position: absolute;
    top: 79px;
    padding: 22px 2px 0px 7px;
    left: 76px;
    border: 1px solid black;
}

.tooltip {
    border: 1px solid black;
    height: 62px;
    width: 200px;
    background-color: white;
    padding: 10px 10px;
    border-radius: 10%;

    &_header {
        font-size: 15px;
    }

    &_value {
        font-size: 15px;
        position: relative;
        top: 22px;
    }
}