.table__table,
.table__row,
.table__cell {
  width: 70%;
  border-collapse: collapse;
  border: 2px solid black;
}

.table__cell {
  width: 100px;
  text-align: left;
  padding: 2px;
}

tr.table__row:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  font-weight: lighter;
}

td {
  color: black;

}

input {
  border: none;
  width: 98%;
  outline: none;
}

.btn {
  position: static;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.table {
  padding: 20px;
  font-size: large;
}

.loader {
  padding: 300px;
  font-size: large;
}